<div class="ui inverted masthead centered segment">
  <div class="ui page grid">
    <div class="column">
      <div class="ui secondary pointing menu">
        <a class="logo item">
          iPin
        </a>
        <a class="active item">
          <i class="flaticon-home"></i> i
        </a>
        <a class="item">
          <i class="flaticon-mail"></i> P
        </a>
        <a class="item">
          <i class="flaticon-heart"></i> IN
        </a>

        <div class="right menu">
          <div class="item">
            <div class="ui icon input">
              <input placeholder="Search..." type="text">
              <i class="flaticon-position link icon"></i>
            </div>
          </div>
        </div>
        <div>

        </div>

        <div class="ui hidden transition information">
          <h1 class="ui inverted centered header">
            A Map Full of Love Pins :)
          </h1>

          <p class="ui centered lead">Where you were before<br/>And where you wanna be in the future</p>
          <%= link_to 'Github Login', user_omniauth_authorize_path(:github), class: 'large basic inverted ui button' %>
        </div>
      </div>
    </div>
  </div>


  <div class="ui vertical feature segment">
    <div class="ui centered page grid">
      <div class="fourteen wide column">
        <div class="ui three column center aligned stackable divided grid">
          <div class="column column-feature">
            <div class="ui icon header">
              <%= icon('globe',nil,{class:'icon'}) %>
              Travel
            </div>
            <p>Travel with your love.</p>
            <p>
              <a class="ui button" href="#">
                Book tickcet
              </a>
            </p>
          </div>
          <div class="column column-feature">
            <div class="ui icon header">
              <%= icon('map-marker',nil,{class:'icon'}) %>
              Pin
            </div>
            <p>Pin your favorite place</p>

            <p>
              <a class="ui green button" href="#">
                Start to Pin
              </a>
            </p>
          </div>
          <div class="column column-feature">
            <div class="ui icon header">
              <%= icon('fire',nil,{class:'icon'}) %>
              Kill
            </div>
            <p>Kill the single dogs</p>

            <p>
              <a class="ui button" href="#">
                Start to Kill
              </a>
            </p>
          </div>
        </div>


      </div>
    </div>

  </div>


  <!--<div class="ui recent-works vertical segment">-->
    <!--<div class="ui very relaxed stackable centered page grid">-->
      <!--<div class="row">-->
        <!--<div class="eight wide centered column">-->
          <!--<h1 class="center aligned ui inverted header">-->
            <!--Recent Works-->
          <!--</h1>-->

          <!--<div class="ui horizontal divider"><i class="white flaticon-camera icon"></i></div>-->
          <!--<p class="ui centered lead">Checkout Our Recently Completed Works<br>you will be amazed!.</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="fourteen wide column">-->
        <!--<div class="ui three column aligned stackable divided grid">-->


          <!--<div class="column">-->

            <!--<div class="ui card" data-html="<div class='header'>User Rating</div><div class='content'><div class='ui star rating'><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='icon'></i><i class='icon'></i></div></div>">-->
              <!--<div class="image">-->
                <!--<img src="images/totoro-horizontal.jpg">-->
              <!--</div>-->
              <!--<div class="content">-->
                <!--<div class="header">My Neighbor Totoro</div>-->
                <!--<div class="description">-->
                  <!--Two sisters move to the country with their father in order to be closer to their hospitalized mother,-->
                  <!--and discover the surrounding trees are inhabited by magical spirits.-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="ui two bottom attached buttons">-->
                <!--<div class="ui button">-->
                  <!--<i class="flaticon-plus icon"></i>-->
                  <!--Queue-->
                <!--</div>-->
                <!--<div class="ui pink button">-->
                  <!--<i class="flaticon-play icon"></i>-->
                  <!--Watch-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

          <!--</div>-->


          <!--<div class="column">-->

            <!--<div class="ui card" data-html="<div class='header'>User Rating</div><div class='content'><div class='ui star rating'><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='icon'></i><i class='icon'></i></div></div>">-->
              <!--<div class="image">-->
                <!--<img src="images/totoro-horizontal.jpg">-->
              <!--</div>-->
              <!--<div class="content">-->
                <!--<div class="header">My Neighbor Totoro</div>-->
                <!--<div class="description">-->
                  <!--Two sisters move to the country with their father in order to be closer to their hospitalized mother,-->
                  <!--and discover the surrounding trees are inhabited by magical spirits.-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="ui two bottom attached buttons">-->
                <!--<div class="ui button">-->
                  <!--<i class="flaticon-plus icon"></i>-->
                  <!--Queue-->
                <!--</div>-->
                <!--<div class="ui pink button">-->
                  <!--<i class="flaticon-play icon"></i>-->
                  <!--Watch-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

          <!--</div>-->


          <!--<div class="column">-->

            <!--<div class="ui card" data-html="<div class='header'>User Rating</div><div class='content'><div class='ui star rating'><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='icon'></i><i class='icon'></i></div></div>">-->
              <!--<div class="image">-->
                <!--<img src="images/totoro-horizontal.jpg">-->
              <!--</div>-->
              <!--<div class="content">-->
                <!--<div class="header">My Neighbor Totoro</div>-->
                <!--<div class="description">-->
                  <!--Two sisters move to the country with their father in order to be closer to their hospitalized mother,-->
                  <!--and discover the surrounding trees are inhabited by magical spirits.-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="ui two bottom attached buttons">-->
                <!--<div class="ui button">-->
                  <!--<i class="flaticon-plus icon"></i>-->
                  <!--Queue-->
                <!--</div>-->
                <!--<div class="ui pink button">-->
                  <!--<i class="flaticon-play icon"></i>-->
                  <!--Watch-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->


  <!--<div class="ui inverted footer vertical segment center">-->
    <!--<div class="ui stackable center aligned page grid">-->
      <!--<div class="four column row">-->

        <!--<div class="column">-->
          <!--<h5 class="ui inverted header">Courses</h5>-->

          <!--<div class="ui inverted link list">-->
            <!--<a class="item">Registration</a>-->
            <!--<a class="item">Course Calendar</a>-->
            <!--<a class="item">Professors</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->


    <!--</div>-->
  <!--</div>-->
</div>
